body {
  background-color: #292929;
  height: 99vh;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #fafbfc; 
}

.root {
  display: flex; 
}

.inline-root {
  display: inline-flex;
}

.vertical-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.title {
  font-size: 48px;
  font-weight: 30;
  letter-spacing: 0.25rem;
  color: #edf0f0;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.separator{
  width: 30px;
}
.container-margin {
  margin: 18px 0px 0px 0px;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  width: 120px;
  height:30px;
}

.image-screen {
  max-width: 100%;
  max-height: 100%;
  display: block;
  padding: 0px;
  border: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.action-button {
  width: 50px; 
  height: 50px;
  visibility: hidden;
}